@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    /* Yellow Tones - Amarillos */
    --freddo-primary-500: #F3C342;
    --freddo-primary-400: #E09A01;
    --freddo-primary-300: #F3D680;
    --freddo-primary-200: #F3D680;
    --freddo-primary-100: #F3E3BA;

    /* Brown Tones - Marrones */
    --freddo-secondary-500: #60391C;
    --freddo-secondary-400: #4A270B;
    --freddo-secondary-300: #543014;
    --freddo-secondary-200: #805437;
    --freddo-secondary-100: #826E5F;

    /* Orange Tones - Naranjas */
    --freddo-orange-500: #DB732B;
    --freddo-orange-400: #A0461F;
    --freddo-orange-300: #C7632D;
    --freddo-orange-200: #EF954F;
    --freddo-orange-100: #EAB182;

    /* Gray Tones - Grises */
    --freddo-gray-500: #424243;
    --freddo-gray-400: #191817; /* Pure black for footer - Negro para footer*/
    --freddo-gray-300: #666564;
    --freddo-gray-200: #DADADA;
    --freddo-gray-100: #F9F9F9; /* White tone for background - Blanco para el fondo */
}

/**
* We use the Typography sizes and weight provided by Google Fonts 
* Se usan los tamaños y densidades de la fuente default de Google Fonts
*/

/* UI Elements - Elementos basicos para la interfaz de usuario */

/* Buttons - Botones */
.fr-btn {
    background-color: transparent;
    font-weight: 600;
    border: solid 2px var(--freddo-gray-500);
    padding: 5px;
    transition: ease-in-out all 300ms;
}

.fr-btn:hover {
    border-color: transparent;
    background-color: var(--freddo-primary-500);
}

input, textarea {
    padding: 8px;
    border: solid 1px var(--freddo-gray-300);
    outline: 0 !important;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Header & Navbar - Barra de Navegacion y Cabcera*/
/* Topbar */
header .topbar {
    display: flex;
    justify-content: center;
    background: var(--freddo-primary-400);
}

header .topbar .topbar__container,
header .navbar .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 90%;
    padding: 4px 0
}

header .topbar .topbar__container a {
    color: var(--freddo-gray-200);
    text-decoration: none;
}
/* Navbar */
header .navbar {
    display: flex;
    justify-content: center;
}

header .navbar .brand-logo img {
    height: 70px;
}

header .navbar .right-content {
    display: flex;
    gap: 8px;
}

header .navbar .right-content i {
    font-size: 20px;
    color: var(--freddo-gray-300);

}

/* Main Content - Cuerpo y Contenido */

/* Categories banner selector */
.catsbanner__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem
}

.catsbanner__container  .cat__col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.catsbanner__container .cat__col img {
    width: 100%;
    transition: ease-in-out all 300ms;
}

.catsbanner__container .cat__col:hover img {
    filter: drop-shadow(0 0 5px var(--freddo-primary-500));
}

/* Contact Section */
.contact__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.contact__container .col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact__container .col:nth-child(1) {
    justify-content: center;
}

.contact__container .col form  {
    background-color: var(--freddo-gray-200);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 1rem;
}
.contact__container .col form .form-row {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.contact__container .col form .form-footer {
    display: flex;
    justify-content: center;
    margin: 8px 0;
}

.contact__container .col form .form-footer .fr-btn {
    width: 100%;
}

/* Bottom Banner - Banner de Fondo - CTA */

#bannerBottom {
    margin: 1rem 0 2rem;
}

#bannerBottom .banner__container {
    display: grid;
    grid-template-columns: 60% auto;
    align-items: center;
    text-decoration: none;
    background: var(--freddo-primary-500);
    color: var(--freddo-gray-100);
    overflow: hidden;
}

#bannerBottom .banner__container * {
    transition: ease-in-out all 300ms;
}

#bannerBottom .banner__container:hover * {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.15));
}

#bannerBottom .banner__container h2 {
    font-size: 10rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

#bannerBottom .banner__container h4 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

#bannerBottom .banner__container h6 {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

#bannerBottom .banner__container .col {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#bannerBottom .banner__container .col:nth-child(1) {
    justify-content: center;
    padding: 1rem;
}

#bannerBottom .banner__container .col:nth-child(2) {
    justify-content: end;
}

#bannerBottom .banner__container img {
    height: 600px;
    object-fit: cover;
}

/* Footer Settings - Pie del Sitio  */
footer {
    background: var(--freddo-gray-400);
    color: var(--freddo-gray-100);
    position: relative;
    overflow: hidden;
}

footer::after {
    content: '';
    height: 275px;
    width: 527px;
    background: url('./assets/footer-before.png');
    position: absolute;
    bottom:60px;
    left: 0;
    z-index: 0;
}

footer a {
    color: var(--freddo-gray-200);
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer .footer__menu {
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 0
}

footer .footer__menu .col__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer .footer__menu .col__menu h4 {
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
}

footer .footer__menu .footer__media {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

footer .footer__menu .footer__media .social__block {
    display: flex;
    gap: 1.5rem;  
}

footer .footer__menu .footer__media .social__block i {
    font-size: 28px;
}

footer .copyright__row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 18px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modo Responsivo */

/* Tablets */
@media screen and ( max-width: 1024px ) {

    /* Selector de Categorias */
    .catsbanner__container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Contact Section */
    .contact__container {
        grid-template-columns: 1fr;
    }

    /* Bottom Banner */
    #bannerBottom .banner__container h2 {
        font-size: 6rem;
    }

    #bannerBottom .banner__container h4 {
        font-size: 2rem;
    }

    #bannerBottom .banner__container h6 {
        font-size: 1.5rem;
    }

    #bannerBottom .banner__container img {
        height: 300px;
    }

    /* Footer Settings - Pie del Sitio  */
    footer .footer__menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    footer .footer__menu .col:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
    }

    footer .footer__menu .col:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
    }

    footer .footer__menu .col:nth-child(3) {
        grid-area: 2 / 1 / 3 / 3;
    }
}

/* Mobile */
@media screen and ( max-width: 768px ) {

    /* Selector de Categorias */
    .catsbanner__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact__container .col form .form-row {
        grid-template-columns: 1fr;
    }

    /* Bottom Banner */

    #bannerBottom .banner__container h2 {
        font-size: 3rem;
    }

    #bannerBottom .banner__container h4 {
        font-size: 1.1rem;
    }

    #bannerBottom .banner__container h6 {
        font-size: .75rem;
    }

    /* Footer Settings - Pie del Sitio  */
    footer::after {
        height: 132px;
        width: 300px;
        background-size: cover;
        bottom: 85px;
    }

    footer .footer__menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

        footer .footer__menu .col:nth-child(1) {
            grid-area: 2 / 1 / 3 / 2;
        }
    
        footer .footer__menu .col:nth-child(2) {
            grid-area: 3 / 1 / 4 / 2;
        }
    
        footer .footer__menu .col:nth-child(3) {
            grid-area: 1 / 1 / 2 / 2;
            margin-bottom: 1rem;
        }
}